.auth-row{
    border:2.5px solid rgb(255, 255, 255);
    border-radius: 7px;
    margin: 10px 0px;
    box-sizing: border-box;
}
.auth-row .auth-icon{
    display: inline-block;
    width: 13%;
    height: 40px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: center;
    /* background-color: gray; */
    box-sizing: border-box;
    color: rgb(255, 255, 255);
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
    
}

.auth-row ::placeholder{
    color: gray;
}
.auth-row input{
    width: 87%;
    height: 60px;
    padding: 8px;
    box-sizing: border-box;
    font-size: 20px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 500;
    /* font-family:Verdana, Geneva, Tahoma, sans-serif; */
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    color: white;
    
}
.auth-row select{
    width: 94%;
    height: 40px;
    padding: 8px;
    font-size: 18px;
    border: none;
    outline: none;
    background: transparent;
    font-weight: 500;
    text-align: center;
}

.auth-heading{
    text-align: center;
    color: rgb(255, 255, 255);
    font-size: 30px;
    font-family: "Poppins";
    padding-bottom: 10px;
    margin: 0;
}
.show-pass{
    color: rgb(255, 255, 255);
    cursor: pointer;
    font-size: 17px;
    font-weight: 550;
    margin: 0;
    padding: 0;
}
.btn{
    font-size: 18px;
    color: white;
    background: rgb(163, 7, 38);
    padding: 8px 12px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
    font-family: "Poppins";
    text-align: center;
    margin: 6px;
}
.auth-row option
{
    color: black;
}