.login-page{
    width: 100%;
    z-index: -1000;
    box-sizing: border-box;
    min-height: 80vh;
    display: flex;
    /* background-color: blue; */
    

}
.auth-img{
    width: 50%;
    height: 80vh;
}
.auth-img img{
    width: 100%;
    height: 100%;
}

.login-form{
    /* height: 400px; */
    width: 370px;
    width: 50%;
    box-sizing: border-box;
    padding:20px 150px;
    background-color: #0e3f6c;
    /* box-shadow: 0 0 11px 2px; */
    border-radius: 4px;


}

