.u-forecast-page {
    display: flex;
 }
 
 
 .us-forecast-result {
     width: 55%;
 }
 
 .us-forecast-form {
     width: 45%;
     font-size: 17px;
     color: aliceblue;
     padding: 20px 0;
     border-right: 3px solid white;
     text-align: center;
     font-weight: 700;
     margin: 20px 0;
     margin-bottom: 40px;
     /* background-color: rgba(255, 255, 255,0.7); */
 }
 
 .us-forecast-form input {
     width: 50%;
     font-size: 17px;
     padding: 7px 0;
     text-align: center;
     border-radius: 9px;
     font-weight: 600;
 }
 
 .us-forecast-form select {
     font-size: 17px;
     margin-top: 20px;
     width: 70%;
     text-align: center;
     padding: 8px 0;
     border-radius: 9px;
     font-weight: 700;
 }
 
 .us-forecast-form option {
     text-align: center;
 }
 
 .us-forecast-form div label {
     display: block;
     margin-top: 20px;
 }
 
 .us-forecast-form button {
     width: 30%;
     font-size: 25px;
     margin-top: 40px;
 
 }
 
 @media only screen and (max-width:1000px) {
     .us-forecast-page {
         flex-direction: column;
 
     }
 
     .us-forecast-form{
         width: 100%;
         display: block;
     }
 
     .us-forecast-result {
         width: 93%;
         display: block;
     }
 }
 @media only screen and (max-width:500px) {
   
     .us-forecast-form input{
         width:85%;
     }
     .us-forecast-form select{
         width: 85%;
     }
 
     .us-forecast-result {
         width: 100%;
         display: block;
     }
 }