.home-page{
    width: 100%;
    box-sizing: border-box;
    /* padding: 10px; */
    min-height: 82vh ;
    display: flex;
    position: relative;
    
  
}
.h-bg{
    padding: 0;
    margin: 0;
    width: 100vw;
    z-index: -30000;
}
.h-bg img
{
    width: 100%;
    height: 120vh;
    object-fit: cover;
    margin: 0px;
    padding: 0px;
    z-index: -30000;
    position: static;
    top: -100px;
    

}

.h-text{
    width: 100%;
    position: absolute;
    box-sizing: border-box;
    margin-bottom: 50px;
    z-index: 200000;
}
.h-text h2{
    /* margin-left: 240px; */
    text-align: left;
    font-size: 45px;
    padding:15px;
    /* border: 3px solid black; */
    border-radius: 7px;
    color: rgb(18, 51, 143);
    margin-top: 100px;
    margin-right: 400px;
    font-family:  "Poppins", sans-serif;
    
}
.em{
    color: rgb(238, 49, 49);
}
.contact-details
{
    /* background-color:rgba(231, 226, 235, 0.7); */
    width: 100%;
    height: 200px;
    padding-right: 50px;
    margin-top: 100px;
    
    
}
.contact-details h2{
    
    font-size: 30px;
    color: rgb(236, 230, 230);
    
    /* text-align: center; */
    /* padding-right: 700px; */
    width: 300px;
    
    text-align: center;
    background-color: rgb(18, 51, 143);
    /* border: 5px solid red; */
    margin-left: 30px;
    cursor: pointer;
    z-index: 20000000000;

    
}
#book-now:hover{

   background-color: rgb(238, 49, 49);
}
#book-now i{
    font-weight: 700;
    font-size: 33px;
    margin-left: 20px;

}


/*Part -2*/
.footer-page1 h2
{
    font-family: "Poppins";
    text-align: left;
    color: 
    /* rgb(42, 37, 136) */
    rgb(191, 33, 35);
    margin-left: 20px;

}
.frequently-booked1
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    /* background-color: rgba(198, 199, 209,0.7); */
}
.frequently-booked1 div{
    /* padding-left: 50px; */
    font-size: 25px;
    border: 2.5px solid rgb(225, 210, 210);
    border-radius: 6px;
    text-align: center;
    padding: 3px 20px;
    width: 180px;
    color:
     /* rgb(191, 33, 35)  */
     rgb(42, 37, 136);
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    
    
}
.both-book1
{
    /* background-color:rgba(69, 82, 226, 0.4) ; */
    height: 250px;

}

.footer-page2 h2
{
    font-family: "Poppins";
    text-align: left;
    color: rgb(42, 37, 136);
    margin-left: 20px;

}
.frequently-booked2
{
    display: flex;
    justify-content: space-evenly;
    margin-top: 40px;
    /* background-color: rgba(198, 199, 209,0.7); */
}
.frequently-booked2 div{
    /* padding-left: 50px; */
    font-size: 25px;
    border: 2.5px solid rgb(225, 210, 210);
    border-radius: 6px;
    text-align: center;
    color: rgb(191, 33, 35);
    margin: 0 15px;
    box-shadow: 5px 5px 10px;
    display: flex;
    flex-direction: column;
    
    
}
.both-book2
{
    /* background-color:rgba(69, 82, 226, 0.4) ; */
    height: 250px;

}
