.home-page {
    width: 100%;
    box-sizing: border-box;
    /* padding: 10px; */
    height: 82vh;
    position: relative;
    display: flex;
    overflow: hidden;
}

.h-bg {
    padding: 0;
    margin: 0;
    width: 100%;
    z-index: -30000;
    box-sizing: content-box;
    overflow: hidden;
}

.h-bg img {
    width: 100%;
    height: 100%;
    object-fit: fill;
    margin: 0px;
    padding: 0px;
    z-index: -30000;
    position: static;
    top: -100px;
    box-sizing: border-box;
    overflow: hidden;

}

.h-text {
    width: 90%;
    position: absolute;
    top: 20%;
    box-sizing: border-box;
    margin-left: 20px;
    z-index: 2000;
}

.h-text h2 {
    font-size: 45px;
    padding: 15px;
    border-radius: 7px;
    color: rgb(18, 51, 143);
    font-family: "Poppins", sans-serif;
}

.em {
    color: rgb(238, 49, 49);
    margin-left: 8px;
    box-sizing: border-box;
}

.contact-details {
    max-width: 360px;
    width: 90%;
}

.contact-details h2 {
    font-size: 30px;
    color: rgb(236, 230, 230);
    text-align: center;
    background-color: rgb(18, 51, 143);
    cursor: pointer;
    z-index: 20000000000;
    margin-top: 100px;
    box-sizing: border-box;
}

#book-now:hover {
    background-color: rgb(238, 49, 49);
}

#book-now i {
    font-weight: 700;
    font-size: 33px;
    margin-left: 20px;
    box-sizing: border-box;
}


/*Part -2*/
.footer-page1 {
    background-color: #0e3f6c;
}

.footer-page1 h2 {
    font-family: "Poppins";
    color:
        /* rgb(42, 37, 136) */
        rgb(11, 20, 182);
    margin-left: 20px;
    font-size: 30px;
    padding-top: 30px;
    box-sizing: border-box;

}

.frequently-booked1 {
    display: flex;
    justify-content: space-evenly;
    margin: 40px 20px;
    flex-wrap: wrap;
    /* background-color: rgba(198, 199, 209,0.7); */
    cursor: pointer;
}

.frequently-booked1 div {
    font-size: 25px;
    border: 2.5px solid rgb(225, 210, 210);
    border-radius: 6px;
    text-align: center;
    width: 220px;
    color:
        /* rgb(191, 33, 35)  */
        rgb(30, 21, 202);
    /* box-shadow: 10px 5px 10px; */
    display: flex;
    flex-direction: column;
    padding-bottom: 12px;
    background-color: white;
    margin: 12px 8px;
    font-weight: 600;


}

.both-book1 {
    /* background-color:rgba(69, 82, 226, 0.4) ; */
    height: auto;
    font-size: 30px;
    padding-bottom: 20px;


}

.footer-page2 {
    background-color: #0e3f6c;
}

.footer-page2 h2 {
    font-family: "Poppins";
    text-align: left;
    color: rgb(42, 37, 136);
    margin-left: 20px;

}

.frequently-booked2 {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 40px 20px;
    /* background-color: rgba(198, 199, 209,0.7); */
}

.frequently-booked2 div {
    /* padding-left: 50px; */
    font-size: 25px;
    border: 2.5px solid rgb(225, 210, 210);
    border-radius: 6px;
    text-align: center;
    color: rgb(19, 50, 226);
    margin: 10px;
    /* box-shadow: 5px 5px 10px; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 12px;
    background-color: white;
    font-weight: 600;
    max-width: 400px;
    width: 96%;

}

.frequently-booked2 div img {
    height: 200px;
    width: 200px;
    margin: 0 auto;
}

.both-book2 {
    /* background-color:rgba(69, 82, 226, 0.4) ; */
    height: auto;
    padding-bottom: 30px;
}

.both-book2 h2 {
    /* padding-top: 20px; */
    font-size: 30px;
    color: rgb(26, 26, 195);
}

.em1 {
    font-size: 45px;
    color: rgb(26, 26, 195);
}


@media only screen and (max-width:1100px) {
    .h-text h2 {
        font-size: 40px;
    }

}

@media only screen and (max-width:900px) {
    .h-text h2 {
        font-size: 35px;
    }

    .contact-details h2 {
        font-size: 27px;
    }

}

@media only screen and (max-width:700px) {
    .h-text h2 {
        font-size: 31px;
    }

    .contact-details h2 {
        font-size: 22px;
        padding: 10px 7px;
    }

    #book-now i {
        font-size: 22px;
    }

    .home-page {
        height: 70vh;
    }
   

}

@media only screen and (max-width:500px) {
    .h-text h2 {
        font-size: 25px;
        margin-bottom: 3px;
    }

    .home-page {
        height: 50vh;
    }
    .contact-details h2 {
        font-size: 20px;
        padding: 10px 7px;
        margin-top: 12%;
    }
    .frequently-booked1 div{
        width: 220px;
    }
    .footer-page2 h2, .footer-page1 h2{
        font-size: 25px;
    }

}