/* STYLE FOR TOTAL BOOKING*/
.tb-user-details {
    width: 100%;
    overflow: auto;
}
.tb-user-details table{
    width: 97vw;
    overflow: auto;
}
.tb-user-details ::-webkit-scrollbar{
    display: inline;
}

.tb-user-details table {
    width: 96%;
    margin: 20px auto;
    text-align: center;
    /* border: 3px solid rgb(255, 255, 255); */
    color: white;

}


.tb-user-details table th {
    padding: 15px 3px;
    background-color: rgb(50, 68, 201);
    color: aliceblue;

}

.tb-user-details table th,
td {
    /* border: 2px solid gray; */
    /* color: rgb(167, 26, 26); */
}

.tb-user-details table td {
    padding: 3px;
    max-width: 300px;
    min-width: 150px;
}

.deletePop {
    position: sticky;
    top: 20%;
    left: 26%;
    z-index: 2000;
    text-align: center;
}
#search
{
    text-align: center;
    /* background-color: rebeccapurple; */
    color: blue;
}
#search input
{
    font-size: 19px;
    color: blue;
    padding: 8px;
    /* background-color: rgb(31, 31, 193); */
    border-radius: 9px;
    text-align: center;
    width: 88%;
    max-width: 600px;
    outline: none;
    
}
#search ::placeholder
{
    font-family: "Poppins";
    color: rgba(15, 15, 91,0.5);
}


/* GRAPH */

.graph{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}
.mob-graph{
    display: none;
}

@media only screen and (max-width: 700px){
 .mob-graph{
    display: flex;
 }
 .web-graph{
    display: none;
 }
}

