.mtd-details
{
    /* display: flex; */
    /* border: 3px solid red; */
    align-items: center;
    justify-content: space-evenly;
    padding: 10px 2px;
    margin-bottom: 30px;
}
.mtd-details input
{
    width: 300px;
    /* margin-left: 90px; */
    font-size:19px ;
    /* padding-left: 100px; */
    text-align: center;
    border: 3px solid gainsboro;
    border-radius: 9px;
    padding: 10px;
    outline: none;
    margin: 10px;
}

.new-test-mtd  .frequently-booked1 div{
    width: 180px;
    margin: 20px 12px;
}
@media only screen and (max-width:820px) {
    .mtd-details{
       display: flex;
       flex-wrap: wrap;
    }
    .mtd-details div{
        width: 90%;
    }
    .mtd-details input{
        width: 90%;
    }
}
