.i-report-btn {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding: 20px;
}

.i-report-btn button{
    margin: 13px ;
}

/* UPDATE PAGE STYLE */
.update-inven form {
    width: 100%;

}

.update-inven form div {
    width: "100%";
    padding-top: 15px;
}

.update-inven form div input {
    width: 90%;
    outline: none;
    border: none;
    padding: 8px 12px;
    margin: 10px 0;
    font-size: 18px;
    border-radius: 6px;
    text-align: center;
}

.update-inven form div select {
    width: 90%;
    outline: none;
    border: none;
    padding: 8px 12px;
    margin: 10px 0;
    border-radius: 6px;
    font-size: 18px;
    text-align: center;
}

@media only screen and (max-width:800) {
    .i-report-btn{
        flex-direction: column;
    }
}