.new-machine-details {
    /* border: 3px solid red; */
    color: white;
    text-align: center;


}

.new-machine-details div input {
    font-size: 20px;
    border-radius: 9px;
    /* background-color: rebeccapurple; */
    /* height: 40px */
    width: 350px;
    text-align: center;
    padding: 8px;
    margin-top: 30px;
}

.new-machine-details select {
    font-size: 20px;
    width: 350px;
    border-radius: 9px;
    margin-top: 40px;
    padding: 8px;
    text-align: center;
}

.machine-test-cat option {
    font-size: 20px;
}

.reagent-detail {
    margin-top: 15px;
}

.reagent-detail h3 {
    padding-bottom: 5px;
}

.reagent-detail-radio h3 {

    padding: 8px 0;
    padding-top: 20px;

}

.add-reagent-details {
    box-shadow: 0 0 4px 3px 10px;
    width: 380px;
    border-radius: 5px;
    /* position: absolute; */
    /* top: 40%;
    left: 30%;
    z-index: 1000; */
    background-color: rgb(30, 30, 100);
    margin: 0 auto;
}


/* STYLE FOR ALL MACHINE CARD */

.all-machine{
    border:6px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.machine-card{
    /* border: 3px solid red; */
    margin: 20px 5px;
    color: aliceblue;
    font-size: 20px;
    /* text-align: center; */
}